.recipe-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.recipe-details-wrapper {
  width: 200px; 
  flex: 1 1;
}

.recipe-details {
  overflow: hidden;       
  text-overflow: ellipsis; 
  margin: 0;              
  padding: 0;             
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.recipe-details h3 {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #333;
}

.favorite {
  border: 2px solid #f39c12 !important;
}

.health-labels {
  margin-top: 10px;
}

.health-labels strong {
  display: block;
  margin-bottom: 4px;
  color: #4caf50; /* Green color for health labels */
}

.recipe-label-info {
  display: flex;
  flex-direction: row;
  height: 160px;
}

.recipe-action {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.recipe-icons {
  display: flex;
  gap: 10px;
}

.ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ingredient img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.ingredient-info {
  flex-grow: 1;
  word-wrap: break-word; /* Allow long ingredient text to wrap within the available space */
}

.ingredient-measure {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap; /* Prevent ingredient measure from wrapping */
}

.ingredient-measure p {
  margin: 5px 0;
  text-align: right;
}

